@import "./node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tempBG {
    background: url(fondo4.png);
}
.tempBGHead {
    background-color: rgba(0, 0, 0, 0.186);
}








#resultTempCOR {
    position: relative;
}
    #correctTemp {
        position: absolute;
        width: 100%;
    }

#resultTempERR {
    position: relative;
}
    #errorTemp {
        position: absolute;   
        width: 100%; 
    }


// .columnaDer{
//     margin-top: 4em;
// }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;

}

.roimg {
    width: 15%;   
    border-radius: 50%;
}